<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Rubber Duck</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <!-- Applications Scripts -->
    <script src='scripts/app.js'></script>

</head>

<body>
    <div id='duckBubble'><br></div>
    <div class='userResponse' data-id= {{Question._id}}>
        <span id='input'>Did this answer fix your problem?</span>
        <button id="yesBtn" name="Yes" type="button" class="btn btn-primary">Yes</button>
        <button id="noBtn" name="No" type="button" class="btn btn-primary">No</button>
    </div>
    <div id = 'relatedLink'></div>

</body>

</html>
