<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
     shrink-to-fit=no">
    <meta name="image_src" content="Duck IMG Placeholder" />
    <meta name="title" content="RBR Duck" />
    <meta name="description" content="RBR Duck is your go to duck for all of
     your troubleshooting needs. Over 12 Software Engineering categories to get
     find help and a online community of programmers to help. Quack!" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:image:url" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:image" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:image:secure_url" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:site_name" content="RBR Duck" />

  	<title>RBR Duck</title>

    <link rel="shortcut icon" href=".ico">

    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <nav id="nav1" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
               data-target="#bs-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">RBR Duck</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#teamLink">The Team</a>
                  </li>
                  <li>
                      <a href="#championLink">Quick Quack</a>
                  </li>
                  <li>
                      <button type="button" class="btn btn-success btn-lg logIn">
                        <a href="wwww.rbrduck.heroku.com/login">Log In</a></button>
                  </li>
                  <li>
                      <button type="button" class="btn btn-info btn-lg signUp">
                        <a href="www.rbrduck.heroku.com/register">Sign Up</a></button>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <header>
    <div class="container">
        <div class="welcomeText">
            <div class="welcomeBrandName">RBR Duck</div>
            <div class="welcomeMotto">Don't ruffle up your feathers!</div>
            <a href="#championLink" class="btn btn-danger btn-lg">Let's take a quack at it!</a>
        </div>
    </div>
  </header>

  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <h3 class="section-subheading text-muted">A Duck Tale</h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4 col-md-offset-4">
                  <p class="aboutText">Af slow-carb taxidermy tumblr mlkshk,
                    tilde sriracha. Mlkshk kickstarter mixtape, listicle
                    gastropub williamsburg aesthetic hexagon. YOLO pug
                    humblebrag,  sustainable banjo fixie pickled keffiyeh chia
                    chambray trust fund. Synth kinfolk cornhole migas shabby
                    chic. Food truck portland before they sold out raw denim.
                    Celiac hot chicken kogi, hella meh freegan brunch sartorial
                    chambray. Trust fund etsy keffiyeh taxidermy chia kinfolk.
                    <br><br> 3 wolf moon paleo etsy knausgaard enamel pin,
                    chambray kickstarter master cleanse. Aesthetic whatever
                    kombucha, squid snackwave semiotics single-origin coffee
                    seitan humblebrag banjo pour-over mlkshk cliche ennui
                    mustache. Schlitz migas hashtag poke skateboard affogato.
                    Live-edge echo park activated charcoal everyday carry, tote
                    bag prism actually bushwick helvetica truffaut single-origin
                    coffee banjo mumblecore brooklyn. Poutine dreamcatcher
                    pickled 8-bit, forage lyft literally hammock jean shorts
                    humblebrag flannel sriracha. Man bun cray kinfolk, cardigan
                    vaporware raclette cred thundercats hexagon next level pok
                    pok mlkshk. Echo park yuccie raw denim umami brooklyn.</p>
              </div>
          </div>
      </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="app.js"></script>

</body>

</html>
