<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Rubber Duck</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Applications Scripts -->
    <script src = 'scripts/app.js'></script>

  </head>
  <body>
    <div id = 'duckBubble'>What language would you like?
    <br><br><div id = 'buttons'>
    <input id="htmlBtn" class='btn' type="button" value="HTML" redirect='html.hbs'/>
    <input id="cssBtn" class='btn' type="button" value="CSS" redirect='html.hbs' />
    <input id="javascriptBtn" class='btn' type="button" value="JavaScript" redirect='html.hbs'/>
  </div>
  </body>
</html>
