/*font-family: 'Delius Unicase', cursive;*/

.navbar {
  background-color: rgb(236,194,27);
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

.icon-bar {
  background-color: #19CCFF;
}

a {
  color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
