<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
     shrink-to-fit=no">
    <meta name="image_src" content="Duck IMG Placeholder" />
    <meta name="title" content="RBR Duck" />
    <meta name="description" content="RBR Duck is your go to duck for all of
     your troubleshooting needs. Over 12 Software Engineering categories to get
     find help and a online community of programmers to help. Quack!" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:image:url" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:image" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:image:secure_url" content=">>/img/Duckio_Home.png<<" />
    <meta property="og:site_name" content="RBR Duck" />

    <title>RBR Duck</title>

    <link rel="shortcut icon" href=".ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src='scripts/app.js'></script>

</head>

<body>
    <nav id="nav1" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand page-scroll" href="/"><strong>RBR Duck</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a href="/"><strong>Return Home</strong></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about"><strong>About</strong></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/ourTeam"><strong>The Flock</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="duckHelp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">CSS</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="images/welcomeBackground.png">
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <div id='duckBubble'><br></div>
                    <div class='userResponse'>
                        <span id='input'>Did this answer fix your problem?</span>
                        <button id="yesBtn" name="Yes" type="button" class="btn btn-primary">Yes</button>
                        <button id="noBtn" name="No" type="button" class="btn btn-primary">No</button>
                    </div>
                    <div id='relatedLink'></div>
                </div>
            </div>
        </div>
    </section>

    <footer class="finisher">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Copyright RBR Duck 2016</strong></p>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <p><strong>Made Possible by General Assembly (Jeastin)</strong></p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
